*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #6DB9EF;
}
.card{
    width: 90%;
    max-width: 470px;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin: 40px auto 0;
    padding: 40px 35px;
    text-align: center;
    overflow: hidden;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search input{
    background-color: #C7C8CC;
    border: 0;
    outline: 0;
    height: 60px;
    color: #161A30;
    padding: 10px 25px;
    border-radius: 30px;
    flex: 1;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 19px;
    font-weight: 600;
}
::placeholder {
    opacity: 1; 
    font-weight: 600;
  }
.search button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #C7C8CC;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#searchImg{
    max-height: 30px;
}
.weatherIcon{
    height: 200px;
    margin-top: 30px;
}
.weather h1{
    margin-top: 15px;
    font-size: 45px;
    font-weight: 600;
}
.weather h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
#details_image{
    height: 50px;
    padding-right: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 35px;
}
.col_1{
    display: flex;
    align-items: center;
    text-align: left;
}
.col_2{
    display: flex;
    align-items: center;
    text-align: left;
}
p{
    font-size: 20px;
    font-weight: 600;
}
.windSpeed, .humidity{
    font-size: 20px;
    margin-top: -6px;
    font-weight: 300;
}
.weather{
    display: none;
}
.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: black;
    display: none;
}
#error_icon{
    height: 40px;
    width: 40px;
}
.error h1{
    font-size: 20px;
    margin: 10px 0;
    color: grey;
    font-weight: 300;
}
.error p{
    font-size: 18px;
    color: grey;
}